.git/ 
.github/
.gitignore
.vscode/
.husky/


src/ 
node_modules/
logs/
tests/
examples/

.prettierignore
.prettierrc
.prettierrc.yaml
.markdownlint.yaml
.lintstagedrc.mjs
jsr.json

package-lock.json
eslint.config.js
lint-staged.config.cjs
tsconfig.tsbuildinfo
