.github/
.husky/
.tap/
examples/
src/
tests/
node_modules/
logs/

.gitignore
.prettierignore
.prettierrc.yaml
.taprc
.markdownlint.yaml

package-lock.json
eslint.config.js
lint-staged.config.cjs
tsconfig.tsbuildinfo